<div th:fragment="modify-eleve" class="professeur" id="modify-eleve" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="add-form-top">
        <span class="closemodal" onclick="showSection(event, 'page-eleve')">< Retour</span>
        <h2>Modifier un éleve</h2>    </div>
    <div class="menu-eleve-modify">
        <form class="form-add">
            <div class="form-container">
                <div class="left-form">
                    <label for="name">Nom</label>
                    <input name="name" type="text" id="name" placeholder="Entrez le nom">

                    <label for="firstname">Prénom</label>
                    <input name="firstname" type="text" id="firstname" placeholder="Entrez le prénom">

                    <div class="radio-group">
                        <label>
                            <input type="radio" name="gender" value="homme"> Homme
                        </label>
                        <label>
                            <input type="radio" name="gender" value="femme"> Femme
                        </label>
                    </div>

                    <label for="matricule">Matricule</label>
                    <input name="matricule" type="text" id="matricule" placeholder="Entrez le matricule">

                    <label for="date">Date de naissance</label>
                    <input type="date" name="date" id="date">
                </div>

                <div class="right-form">
                    <label for="classe">Classe</label>
                    <select name="classe" id="classe">
                        <option value="">---Sélectionner la classe---</option>
                        <option value="2nd">2nd</option>
                        <option value="1re">1re</option>
                        <option value="Tle">Tle</option>
                    </select>

                    <label for="tel">Numéro de téléphone</label>
                    <input type="tel" name="tel" id="tel" placeholder="Entrez le numéro de téléphone">

                    <label for="ville">Ville</label>
                    <input type="text" name="ville" id="ville" placeholder="Entrez la ville">
                </div>
            </div>

            <div class="form-buttons">
                <button class="btn cancel" type="button">Annuler</button>
                <button class="btn save" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
    <p id="post-message" th:if="${message}" th:text="${message}"></p>
</div>
