<div th:fragment="professeurs-content" class="professeur" id="page-professeur" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="board-top">
        <h1>Professeur <span>(2)</span></h1>
        <div class="modal-open"><span class="plus" onclick="openmodal()">+</span>Nouveau Professeur</div>
    </div>
    <div class="tableau">
        <div class="title row">
            <p>Nom</p>
            <p>Prénom</p>
            <p>Matiere</p>
            <p>Vacant</p>
            <p>Age</p>
            <p>Téléphone</p>
            <p>Ville</p>
            <p class="action">Actions</p>
        </div>
        <div class="row">
            <p>KOFFI</p>
            <p>George</p>
            <p>Math</p>
            <p>Non</p>
            <p>40</p>
            <p>0123456789</p>
            <p>Touba</p>
            <button type="button" onclick="openmodify()">Modifier</button>
            <button type="button" onclick="opendelete()">Supprimer</button>
        </div>
        <div class="row">
            <p>Konaté</p>
            <p>Sali</p>
            <p>Physique</p>
            <p>Oui</p>
            <p>37</p>
            <p>0123456799</p>
            <p>Abidjan</p>
            <button type="button">Modifier</button>
            <button type="button">Supprimer</button>
        </div>
    </div>
    <div class="menu-eleve">
        <span class="closemodal" onclick="closemodal()">< Retour</span>
        <h2>Ajouter un Professeur</h2>
        <form class="form-add">
            <div class="form-container">
                <div class="left-form">
                    <label for="name">Nom</label>
                    <input name="name" type="text" id="name" placeholder="Entrez le nom">

                    <label for="firstname">Prénom</label>
                    <input name="firstname" type="text" id="firstname" placeholder="Entrez le prénom">

                    <div class="radio-group">
                        <label>
                            <input type="radio" name="gender" value="homme"> Homme
                        </label>
                        <label>
                            <input type="radio" name="gender" value="femme"> Femme
                        </label>
                    </div>

                    <label for="matricule">Matricule</label>
                    <input name="matricule" type="text" id="matricule" placeholder="Entrez le matricule">

                    <label for="date">Date de naissance</label>
                    <input type="date" name="date" id="date">
                </div>

                <div class="right-form">
                    <label for="classe">Classe</label>
                    <select name="classe" id="classe">
                        <option value="">---Sélectionner la classe---</option>
                        <option value="2nd">2nd</option>
                        <option value="1re">1re</option>
                        <option value="Tle">Tle</option>
                    </select>

                    <label for="tel">Numéro de téléphone</label>
                    <input type="tel" name="tel" id="tel" placeholder="Entrez le numéro de téléphone">

                    <label for="ville">Ville</label>
                    <input type="text" name="ville" id="ville" placeholder="Entrez la ville">
                </div>
            </div>

            <div class="form-buttons">
                <button class="btn cancel" type="button">Annuler</button>
                <button class="btn save" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>

    <div class="menu-eleve-modify">
        <span class="closemodal" onclick="closemodify()">< Retour</span>
        <h2>Modifier un Professeur</h2>
        <form class="form-add">
            <div class="form-container">
                <div class="left-form">
                    <label for="name">Nom</label>
                    <input name="name" type="text" id="name" placeholder="Entrez le nom">

                    <label for="firstname">Prénom</label>
                    <input name="firstname" type="text" id="firstname" placeholder="Entrez le prénom">

                    <div class="radio-group">
                        <label>
                            <input type="radio" name="gender" value="homme"> Homme
                        </label>
                        <label>
                            <input type="radio" name="gender" value="femme"> Femme
                        </label>
                    </div>

                    <label for="matricule">Matricule</label>
                    <input name="matricule" type="text" id="matricule" placeholder="Entrez le matricule">

                    <label for="date">Date de naissance</label>
                    <input type="date" name="date" id="date">
                </div>

                <div class="right-form">
                    <label for="classe">Classe</label>
                    <select name="classe" id="classe">
                        <option value="">---Sélectionner la classe---</option>
                        <option value="2nd">2nd</option>
                        <option value="1re">1re</option>
                        <option value="Tle">Tle</option>
                    </select>

                    <label for="tel">Numéro de téléphone</label>
                    <input type="tel" name="tel" id="tel" placeholder="Entrez le numéro de téléphone">

                    <label for="ville">Ville</label>
                    <input type="text" name="ville" id="ville" placeholder="Entrez la ville">
                </div>
            </div>

            <div class="form-buttons">
                <button class="btn cancel" type="button">Annuler</button>
                <button class="btn save" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
    <div class="delete-modal">
        <div class="delete-modal-content">
            <h2>Attention!!!</h2>
            <p>Voulez vous vraiment supprimer cet élève</p>
            <div class="flex">
                <button class="modal-btn-delete non" type="button" onclick="closedelete()">Non</button>
                <button class="modal-btn-delete oui" type="button" onclick="closedelete()">Oui</button>
            </div>
        </div>
    </div>
</div>