<div class="w-100" th:fragment="dashboard-content" xmlns:th="http://www.w3.org/1999/xhtml">
        <h2>Tableau de bord</h2>
    <div class="card-container">
        <div class="card"><h5>Nombre d'éleves </h5><h1><span th:text="${studentCount}"></span></h1></div>
        <div class="card"><h5>Nombre de professeurs</h5><h1><span th:text="${teacherCount}"></span></h1></div>
        <div class="card"><h5>Nombre de utilisateurs</h5><h1>128 100</h1></div>
        <div class="card"><h5>Eleve par genre</h5>
            <div class="circle-container">
                <div class="cercle">
                </div><ul><li>Homme</li><li>Femme</li></ul></div>
        </div>
    </div>
    <p id="post-message" th:if="${message}" th:text="${message}"></p>

</div>